extends layout

block content

    section#about
        .section-name
            h3
            span About Me
        .section-container.about-box
            .about-image
                img(src='../images/dp.jpeg')
            .about-intro
                p I am a Full Stack developer with passion for  creating new things. I'm popularly known as Emaani , i love technology, adventures and football. I get intrigued with computers and tech devices and i chose the path of a Software developer.
                .cta
                    a(href="#") Contact Me 
    section#services
        .section-name
            h3
            span What I Do
        .section-container.services-box
            .service
                .service-image
                    img(src='../images/web-icon.png')
                .service-content 
                    h4 Website dev
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga tempore sunt earum assumenda nam voluptatem!
            .service
                .service-image
                    img(src='../images/web-app.png')
                .service-content 
                    h4 Web App
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas ducimus hic dignissimos facilis asperiores magni.
            .service
                .service-image
                    img(src='../images/mobile-app.png')
                .service-content 
                    h4 Mobile App
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam deleniti doloribus natus voluptatum? Explicabo, modi.
    section#skills
        .section-name
            h3
            span Skills
        .section-container.skills-box
            .skill.client-side-skills
                h4 Client side
                ul
                    li HTML
                    li CSS
                    li JS
            .skill.server-side-skills
                h4 Server side
                ul
                    li node Js
                    li Express Js

