extends layout

block content

    section#about
        .section-name
            h3 About Me
        .section-container.about-box
            .about-image
                img(src='../images/dp.jpeg')
            .about-intro
                p I am a Full Stack developer with passion for  creating new things. I'm popularly known as Emaani , i love technology, adventures and football. I get intrigued with computers and tech devices and i chose the path of a Software developer.
    section#services
        .section-name
            h3 What I Do
        .section-container.services-box
            .service
                .service-image
                    img(src='')
                    h4 Website
                    p i develop websites
            .service
                 .service-image
                    img(src='')
                    h4 Web App
                    p i develop Web Applications
            .service
                .service-image
                    img(src='')
                    h4 Mobile App
                    p i develop Mobile Applications
    section#skills
        .section-container.skills-box
            .client-side-skills
                h4 Client side
                ul
                    li HTML
                    li CSS
                    li JS
            .server-side-skills
                h4 Client side
                ul
                    li node Js
                    li Express Js

